*{
    font-family: "Open Sans", sans-serif;
    margin: 0px;
}
header{
    background: #FFF8F3;
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, right bottom;;
}
/* Nav related styles start*/
.navbar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 230px 0px;
}
.navbar nav {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
}
nav a{
    text-decoration: none;
    color: var(--Dark-02, #474747);
    font-size: 20px;
    font-weight: 400;
    margin-right: 50px;
}
.nav-title{
    color: #181818;
    font-family: "Open Sans";
    font-size: 45px;
    font-weight: 800;
}
.nav-title span{
    color: #FD6E0A;
}
.btn-primary{
    border: 0px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 36px;
}
/* nav end */

/* banner start */
.banner{
    display: flex;
    padding-left: 230px;
    margin-top: 50px;
}
.banner img{
    width: 584px;
    height: 676px;
}
.banner-greeting{
    margin-top: 185px;
    margin-bottom: 5px;
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    color: var(--Dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-desc{
    color: var(--Dark-03, #757575);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    max-width: 585px;
}
.btn-contact{
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    padding: 18px 20px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}